h1 {
  color:#ff0000;
}
h2 {
  color:#7FFFD4;
}
.header {
  background-color:#7FFFD4;
  height:90px;
}
.main {
  background-color:#bdf7f1;
  height:600px;
}
.footer {
  background-color:#ceccf3;
  height:270px;
}
p {
  /*Berikut ialah jurusan-jurusan yang ada di Fakultas Sains dan Teknologi UIN Maulana Malik Ibrahim Malang*/
  color:#D2691E;
  font-size:10px;
  font-family:serif;
}
img {
  /*Berikut ialah jurusan-jurusan yang ada di Fakultas Sains dan Teknologi UIN Maulana Malik Ibrahim Malang*/
  width:500px;
  height:200px;
  background-color:#006400;
}
li {
  color:#00CED1;
}
