* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  font-family: "Agency FB", sans-serif;
}
.wrapper {
  background-color: aquamarine;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.navbar {
  width: 90%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 150px;
  cursor: pointer;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 2px;
}
nav ul li a:hover {
  color: violet;
}
.banner {
  height: 100vh;
}
text {
  width: 55%;
  height: 100%;
  float: left;
  padding: 100px 70px 0;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: mymove 3s cubic-bezier(0.44, 0.05, 0, 0.98) 0s;
}
.text h1 {
  font-size: 120px;
  font-weight: 900;
  color: white;
  line-height: 100px;
}
.text p {
  color: white;
  line-height: 28px;
  padding: 20px 240px 0 0;
}
.text button {
  color: #f0f8ff;
  padding: 10px 25px;
  background: aqua;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.text button:hover {
  background: #ffffff;
  border: 2px solid white;
}
.img {
  width: 35%;
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 80px;
}
.img-inner {
  position: relative;
}
.info-dot {
  position: absolute;
  top: 50px;
  z-index: 99;
}
.info-dot.dot2 {
  top: 24%;
  right: 60px;
}
.info-dot.dot3 {
  top: 90%;
  right: 50%;
}
.info-dot button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: wheat;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: aquamarine;
  cursor: pointer;
}
.info-dot button::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: aquamarine;
  top: -20px;
  left: -20px;
  border-radius: 50px;
  z-index: -1;
  transform: scale(0.5);
  animation: dots ease 2s 0s infinite;
}
@keyframes dots {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.info-dot.dot2 button::before {
  animation-delay: 4s;
}
.info-dot.dot3 button::before {
  animation-delay: 8s;
}
.info-detail {
  width: 400px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 0%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: wheat;
  text-align: center;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 15px 150px #333;
  transform: scaleY(0);
  transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 9;
}
.info-detail h3 {
  margin-bottom: 15px;
}
.info-detail p {
  line-height: 28px;
}
.info-detail.show {
  transform: scaleY(1);
}
